# Binaries
terraform-provider-vtex
*.exe

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!examples/*.tfvars.example

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage.out
